.container {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 10px;
	background: #cacaca;
}
.usr {
	margin-left: 20px;
	padding: 5px 10px;
}
.usr::before {
	position: absolute;
	top: 5px;
	left: 5px;
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background: #5c5c5c;
}
.msg {
	padding: 10px;
	background: #e9e9e9;
}
